# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Virtual Environment
# ===============================
.venv/
venv/

# ===============================
# Datasets
# ===============================
BraTS/
datasets/
*.nii
*.nii.gz

# ===============================
# Model Checkpoints
# ===============================
checkpoints/

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db