# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Virtual Environment
# ==========================
.venv/
venv/
env/

# ==========================
# Jupyter Notebook
# ==========================
.ipynb_checkpoints/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# PyTorch Model Files
# ==========================
*.pth
*.pt
*.ckpt

# ==========================
# Dataset
# ==========================
BraTS*/
datasets/
data/
*.nii
*.nii.gz
*.tar
*.zip

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# TensorBoard
# ==========================
runs/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db
